:root {
  --border-radius-size: 14px;
  --primary-100: #ff0000;
  --primary-200: #ff5a36;
  --primary-300: #ffc993;
  --accent-100: #ffffff;
  --accent-200: hsl(0, 0%, 61%);
  --text-100: #ffffff;
  --text-200: #e0e0e0;
  --bg-100: #000000;
  --bg-200: #161616;
  --bg-300: #2c2c2c;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.wrapper {
  padding-top: 40px;
  padding-bottom: 40px;

  &:focus {
    outline: 0;
  }
}

.card {
  background: white;
  width: 300px;
  display: inline-block;
  margin: auto;
  border-radius: 19px;
  position: relative;
  text-align: center;
  box-shadow: -1px 15px 30px -12px black;
  z-index: 9999;
}

.cardImage {
  position: relative;
  height: 230px;
  margin-bottom: 25px;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/archer-bg.jpg");
  border-top-left-radius: var(--border-radius-size);
  border-top-right-radius: var(--border-radius-size);
}

.cardImg {
  width: 350px;
  position: absolute;
  top: -110px;
  right: -20px;
}

.cardId {
  position: relative;
  font-size: 18px;
  margin: 0;
}

.cardTypes {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 6px;
  background-color: var(--primary-300);
  color: var(--primary-100);
}

.cardName {
  font-size: 30px;
  color: black;
  font-weight: 900;
  margin-top: 5px;
  margin-bottom: 5px;
}

.cardStats {
  color: white;
  font-weight: 700;
  border-bottom-left-radius: var(--border-radius-size);
  border-bottom-right-radius: var(--border-radius-size);
  background: var(--primary-100);
}

.oneThird {
  width: 33%;
  float: left;
  padding: 20px 15px;
  border-right: 1px solid #f92828f3;
  border-bottom: 1px solid #f92828f3;
}

.stat {
  position: relative;
  font-size: 24px;
  margin-bottom: 10px;
}

.statValue {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
}

.noBorder {
  border-right: none;
}

.btn {
  width: 100%;
  border-bottom-left-radius: var(--border-radius-size);
  border-bottom-right-radius: var(--border-radius-size);
  background: transparent;
  color: var(--text-100);
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--primary-200);
}
