:root {
  --border-radius-size: 14px;
  --primary-100: #ff0000;
  --primary-200: #ff5a36;
  --primary-300: #ffc993;
  --accent-100: #ffffff;
  --accent-200: hsl(0, 0%, 61%);
  --text-100: #ffffff;
  --text-200: #e0e0e0;
  --bg-100: #000000;
  --bg-200: #161616;
  --bg-300: #2c2c2c;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
.container {
  display: flex;
  width: 1000px;
  justify-content: space-evenly;
  align-items: center;
  color: var(--text-100);
  border: 2px solid var(--primary-100);
  border-radius: var(--border-radius-size);
  margin: 0 4rem;
}

.containerGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 70px), 1fr));
  gap: 20px;
  max-width: 200px;
  padding-left: 4rem;
  margin: 3rem;
}

.checkboxLabel {
  grid-column: span 2;
  display: flex;
  align-items: center;
  gap: 10px;
}

.input {
  min-height: 30px;
  min-width: 125px;
  padding: 1rem;

  color: var(--text-100);
  font-size: 15px;
  border: 1px solid var(--primary-100);
  border-radius: 6px;
  background-color: var(--bg-200);
}

.smallInput {
  max-width: max-content;
  width: 80px;
  min-height: 30px;
  min-width: 20px;
  padding: 1rem;
  font-size: 12px;
  color: var(--text-100);
  border: 1px solid var(--primary-100);
  border-radius: 6px;
  background-color: var(--bg-200);
}

.input:focus,
.input:focus-visible {
  border-color: var(--primary-200);
  outline: none;
}

.smallInput:focus,
.smallInput:focus-visible {
  border-color: var(--primary-200);
  outline: none;
}

.inputLabel {
  grid-column: span 2;
  display: flex;
  align-items: center;
  gap: 10px;
}

.typeLabel {
  width: 322px;
  height: 322px;
  padding: 1rem;
  border: 1px solid var(--primary-100);
  border-radius: var(--border-radius-size);
  margin-top: 60px;
  background-color: var(--bg-200);
}

.switch {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 34px;
}

.inputCheck {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--bg-300);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

.inputCheck:checked + .slider {
  background-color: var(--primary-200);
}

.inputCheck:focus + .slider {
  box-shadow: 0 0 1px var(--primary-300);
}

.inputCheck:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(85px);
}

.slider:after {
  content: "CREATE";
  color: white;
  display: block;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-size: 10px;
  font-family: Verdana, sans-serif;
}

.inputCheck:checked + .slider:after {
  content: "UPDATE";
}
