.container {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-areas:
    "sidebar content"
    ". pagination";
  gap: 20px;
  height: 100vh;
  justify-content: center;
  padding: 50px;
}

.pagination {
  grid-area: pagination;
  background-color: #f0f0f0;
  padding: 10px;
  justify-self: center;
}

.content {
  grid-area: content;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 210px), 1fr));
  gap: 1rem;
  list-style: none;
  justify-items: center;
  align-items: center;

  margin-bottom: 100px;
}

.item {
  grid-column: span 1;
}
