.unorderedList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 210px), 1fr));
  gap: 1rem;
  list-style: none;
  justify-items: center;
  align-items: center;
  padding-right: 50px;
}

.item {
  grid-column: span 1;
}

.input {
  min-height: 30px;
  min-width: 125px;
  padding: 1rem;
  margin: 2rem;
  color: var(--text-100);
  font-size: 15px;
  border: 1px solid var(--accent-200);
  border-radius: 6px;
  background-color: var(--bg-200);
}
